<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP2xZou_X_z00_VrWEPy10LVGNwTAMHME</string>
	<key>GCM_SENDER_ID</key>
	<string>733095552464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newproject</string>
	<key>PROJECT_ID</key>
	<string>insanberbagi-b9cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>insanberbagi-b9cbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733095552464:ios:c8f44f791ece0bcd9ac5d5</string>
</dict>
</plist>